<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Myrp</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav nav-pills navbar-right">
                <li class="nav-item">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav-item">@Html.ActionLink("Configurar integrações", "Index", "Integracao")</li>
            </ul>
            <h3 class="text-muted">Myrp</h3>
        </div>
        <div id="conteudo">
            @RenderBody()
        </div>
    </div>
</body>
</html>